@font-face {
    font-family: 'true_crimesregular';
    src: url('../fonts/true-crimes-webfont.eot');
    src: url('../fonts/true-crimes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/true-crimes-webfont.woff') format('woff'),
         url('../fonts/true-crimes-webfont.ttf') format('truetype'),
         url('../fonts/true-crimes-webfont.svg#true_crimesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(50, 50, 50);
  font-family: 'proxima-nova', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'true_crimesregular';
  font-size: 50px;
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

section {
  padding: 50px;
  font-size: 18px;
  line-height: 25px;
  position: relative;
}

button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: 10px 35px;
  white-space: nowrap;
  cursor: pointer;
}
button:hover {
  background-color: #000;
  color: #fff;
}


/* Header title styles */
#title div {
  position: absolute;
  -webkit-transform: rotateY(45deg) rotateZ(-5deg) translateX(-150px) translateY(-100px);
       -o-transform: rotateY(45deg) rotateZ(-5deg) translateX(-150px) translateY(-100px);
          transform: rotateY(45deg) rotateZ(-5deg) translateX(-150px) translateY(-100px);
}
#title div:nth-of-type(1)  { font-size: 275px; top: 150px; left: 150px; } /*R*/
#title div:nth-of-type(2)  { font-size: 250px; top: 130px; left: 275px; } /*E*/
#title div:nth-of-type(3)  { font-size: 225px; top: 130px; left: 345px; } /*A*/
#title div:nth-of-type(4)  { font-size: 200px; top: 135px; left: 430px; } /*C*/
#title div:nth-of-type(5)  { font-size: 190px; top: 130px; left: 500px; } /*T*/
#title div:nth-of-type(6)  { font-size: 150px; top: 145px; left: 575px; } /*R*/
#title div:nth-of-type(7)  { font-size: 160px; top: 130px; left: 640px; } /*A*/
#title div:nth-of-type(8)  { font-size: 155px; top: 130px; left: 705px; } /*L*/
#title div:nth-of-type(9)  { font-size: 150px; top: 135px; left: 750px; } /*L*/
#title div:nth-of-type(10) { font-size: 145px; top: 140px; left: 790px; } /*Y*/
#title div:nth-of-type(11) { font-size: 120px; top: 165px; left: 840px; } /*!*/

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 600px;
  height: 500px;
  margin: 100px auto;
  padding: 0;
  transform: scale(0.5) rotateX(-30deg);
  transition: all 150ms ease-in;
}
.ReactModal__Content--after-open {
  transform: scale(1) rotateX(0deg);
}
.ReactModal__Content--before-close {
  transform: scale(0.5) rotateX(30deg);
}

/* Responsive for most iPhones, and Galaxies */
@media only screen and (device-width: 320px) {
  menu > ul > li {
    margin: 2% !important;
  }

  #venue iframe {
    margin-left: 125px !important;
    margin-top: 25px !important;
  }
}

/* Responsive for iPhone 6 */
@media only screen and (device-width: 375px) {
  menu > ul > li {
    margin: 2% !important;
  }

  #venue iframe {
    margin-left: 125px !important;
    margin-top: 100px !important;
  }
}

/* Responsive for HTC, and some Galaxies */
@media only screen and (device-width: 360px) {
  menu > ul > li {
    margin: 2% !important;
  }

  #venue iframe {
    margin-left: 125px !important;
    margin-top: 25px !important;
  }
}

/* Responsive for Desktop */
@media only screen and (max-width: 1250px) {
  menu > ul > li {
    margin: 3% !important;
  }

  #schedule .pole {
    display: none;
  }
  #schedule .dayOne,
  #schedule .dayTwo {
    float: none !important;
    width: auto !important;
  }
  #schedule .dayTwo .session__content {
    float: left !important;
    left: 100px !important;
  }
}

@media only screen and (max-width: 1075px) {
  menu > ul > li {
    margin: 2.5% !important;
  }
}

@media only screen and (max-width: 950px) {
  menu > ul > li {
    margin: 2% !important;
  }
}

@media only screen and (max-width: 850px) {
  menu > ul > li > a {
    font-size: 15px !important;
  }
}
