/* Responsive styles for max-width 500px */
.Person {
  margin: 25px 0;
}

.Sponsors img {
  max-width: 200px !important;
}
.Sponsors img {
  margin: 25px 15px;
}

.Stream__Embedded {
  width: 254px;
  height: 143px;
}

