/* font colors */
$color-primary: #4A4A4A;
$color-lightgray: #777777;
$color-darkgray: #444444;
$color-white: #FFFFFF;
$color-green: #00AD92;
$color-orange: #FF6D40;

/* fill colors */
$fill-white: #FFFFFF;
$fill-lightgray: #F4F4F4;
$fill-darkgray: #DCDCDC;
$fill-lightgreen: #00AD93;
$fill-mediumgreen: #57B5AC;
$fill-darkgreen: #008874;

/* dimensions */
$width-column: 12%;

/* typography */
body {
  background-color: $fill-white;
  color: $color-primary;
  font-family: Helveica Neue, arial, sans-serif;
  font-size: medium;
  margin: 0;
}

a {
  color: $color-green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-orange;
  margin: 0;
}

section h1 {
  color: $color-darkgray;
  font-size: xx-large;
  margin-bottom: 50px;
}

/* forms */
button, input[type="text"] {
  border-radius: 2px;
  padding: 5px 10px;
}

button {
  background-color: $fill-white;
  border: 1px solid $color-green;
  color: $color-green;
}
button.medium {
  font-size: medium;
  padding: 10px 25px;
}
button.large {
  font-size: large;
  padding: 12px 35px;
}
button.transparent {
  background-color: transparent;
  border-color: $color-white;
  color: $color-white;
}

input[type="text"] {
  border: 1px solid $fill-darkgray;
  line-height: 1.4;
  width: 200px;
}

/* layout */
* {
  box-sizing: border-box;
}

section {
  padding: 50px;
}

.col { display: inline-block; vertical-align: top; }
.col-1 { width: $width-column; }
.col-2 { width: $width-column * 2; }
.col-3 { width: $width-column * 3; }
.col-4 { width: $width-column * 4; }
.col-5 { width: $width-column * 5; }
.col-6 { width: $width-column * 6; }
.col-7 { width: $width-column * 7; }
.col-8 { width: $width-column * 8; }

/* classes */
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

ul.navigation {
  margin: 0;
  padding: 25px 0;
  list-style: none;
  text-align: center;
}
.navigation li {
  display: inline-block;
  padding: 0 25px;
}
.navigation li a {
  border-bottom: 2px solid transparent;
  display: inline-block;
  height: 55px;
  margin-bottom: -36px;
}
.navigation li a.active {
  border-color: $color-orange;
  color: $color-darkgray;
}


/* -- Home -- */
.Home__Header {
  background: url(../img/SaltLakeCity.png) no-repeat;
  background-size: cover;
}
.Home__Header__Wrapper {
  background-color: rgba($fill-lightgreen, .95);
  color: $color-white;
  text-align: center;
  padding: 50px 28% 0;
  position: relative;
  min-height: 500px;
  overflow: hidden;
}
.Home__Header__Wrapper h1 {
  color: $color-white;
}
.Home__Header__Content {
  position: relative;
  z-index: 100;
}
.Home__Header__Nav {
  margin-top: 25px;
}
.Home__Header__Nav a {
  color: $color-white;
}
.Home__Header__Newsletter {
  background-color: $fill-darkgreen;
  color: $color-white;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
}
.Home__Header__ReactLogo {
  opacity: 0.1;
  position: absolute;
  right: 100px;
  bottom: -175px;
  z-index: 0;
}
.Home__Header button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* -- Sponsors -- */
.Sponsors {
  text-align: center;
}

/* -- Venue -- */
.Venue h1 {
  text-align: center;
}
.Venue__Wrapper {
  background: url(../img/RoseWagnerDetail.png) no-repeat;
  background-size: cover;
  margin: 0 -50px;
}
.Venue__Content {
  background: rgba($fill-mediumgreen, .95);
  color: $color-white;
  padding: 50px;
}
.Venue__Content h2 {
  color: $color-white;
}
.Venue__Hotel {
  padding-top: 50px;
}

/* -- Header -- */
.Header--padded {
  border-bottom: 1px solid $fill-darkgray;
  padding: 10px 50px;
}
.Header__Nav {
  display: inline-block;
}

/* -- Footer -- */
.Footer {
  color: $color-lightgray;
}
.Footer__Nav {
  background-color: $fill-white;
  border-top: 1px solid $fill-darkgray;
}
.Footer__Newsletter {
  background-color: $fill-lightgray;
  border-top: 1px solid $fill-darkgray;
  color: $color-orange;
  text-align: center;
  padding: 15px 0;
}
.Footer__About {
  background-color: $fill-lightgray;
  border-top: 1px solid $fill-darkgray;
}
.Footer__About h3,
.Footer__About h4 {
  font-weight: normal;
}
.Footer__About p {
  margin-top: 0;
}
.Footer__About__Tickets {
  top: 35px;
  position: relative;
}
.Footer__About__Tickets h3 {
  color: $color-darkgray;
  margin-bottom: 10px;
}
.Footer__Social {
  position: relative;
}
.Footer__Social .icon {
  background: $fill-white;
  border: 1px solid $fill-darkgray;
  border-radius: 21px;
  position: absolute;
  padding: 8px;
  width: 42px;
  height: 42px;
  top: -21px;
  left: 50%;
  margin-left: -21px;
}
.Footer__Social .icon-twitter {
  padding: 12px 10px;
  margin-left: -42px;
}
.Footer__Social .icon-github {
  margin-left: 21px;
}
.Footer__Copyright {
  background-color: $fill-white;
  border-top: 1px solid $fill-darkgray;
  text-align: center;
  padding: 35px 0;
}

/* -- Avatar -- */
.Avatar {
  display: inline-block;
  margin: 25px 50px;
  text-align: center;
}
.Avatar img {
  border-radius: 200px;
  display: block;
  margin: 0 auto 15px;
}
.Avatar em {
  color: $color-lightgray;
}

/* -- Legend -- */
.Legend {
  color: $color-orange;
  margin: 25px 0;
  text-align: center;
  position: relative;
}
.Legend > div:nth-of-type(1) {
  border-bottom: 1px solid $fill-darkgray;
  content: '';
  position: absolute;
  height: 1px;
  top: 8px;
  left: 0;
  right: 0;
}
.Legend > div:nth-of-type(2) {
  background-color: $fill-white;
  display: inline-block;
  padding: 0 35px;
  position: relative;
}
